<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custome CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="nav navbar-default techfont custom-navbar">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'post_list' %}" class="navbar-brand bigbrand" >My Blog</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="www.github.com">Github</a></li>
          <li><a href="www.linkedin.com">LinkedIn</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'post_new '%}">New Post</a></li>
            <li><a href="{% url 'post_drafts_list'}"></a>Drafts</li>
            <li><a href="{% url 'logout'}">Logut</a></li>
            <li><a>Welcome {{ user.username }}</a></li>
          {% else %}
            <li><a class="nav navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span></a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- content-block -->
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
